.business-appointment-extra-resources-hint {
    position: absolute;
    z-index: 1;
    border: 1px groove #808080;
    background-color: white;
    min-width: 300px;
    max-width: 500px;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    padding: 4px;
}
