.business-appointment-suggested-quantity {
    width: initial;
    align-items: center !important;
    justify-content: center !important;

    .business-appointment-suggested-quantity-input {
        min-width: 48px;
        text-align: center;
    }
}
