.PrintnodeStatusMenu_releases .printnode_faq_link:first-child {
    display: none;
}

.PrintnodeStatusMenu_icon {
    font-size: larger;
}


.PrintnodeStatusMenu_dropdownMenu {
    width: 400px;
    padding: 1rem;
}

.PrintnodeStatusMenu_badge {
    position: relative;
    transform: translate(-5px, -5px);
    background-color: #017e84;
    margin-right: -10px;
}

.PrintnodeStatusMenu_loading {
    width: 100%;
    text-align: center;
}

.PrintnodeStatusMenu_rate_us {
    text-align: right;
}