<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>

		<!-- Marketplace -->
		<menuitem id="izi_marketplace.menu_root_marketplace"
			name="Marketplace" web_icon="izi_marketplace,static/description/izi_menu_icon.png"
			sequence="50" />

		<!-- Marketplace / Accounts -->
		<menuitem id="izi_marketplace.menu_separator_mp_account"
			name="Accounts" groups="izi_marketplace.group_mp_manager"
			parent="izi_marketplace.menu_root_marketplace" sequence="0" />

		<!-- Marketplace / Accounts / Accounts -->
		<menuitem id="izi_marketplace.menu_item_mp_account"
			name="Accounts" parent="izi_marketplace.menu_separator_mp_account"
			action="izi_marketplace.action_window_mp_account" sequence="0" />

		<!-- Marketplace / Data Mapping -->
		<menuitem id="izi_marketplace.menu_separator_data_map"
			name="Data Mapping" parent="izi_marketplace.menu_root_marketplace"
			sequence="10" />

		<!-- Marketplace / Data Mapping / Product Mapping -->
		<menuitem id="izi_marketplace.menu_separator_mp_product_map"
			name="Product Mapping"
			parent="izi_marketplace.menu_separator_data_map" sequence="10" />

		<!-- Marketplace / Data Mapping / Product Mapping / Product Mapping -->
		<menuitem id="izi_marketplace.menu_item_mp_product_map"
			name="Product Mapping"
			parent="izi_marketplace.menu_separator_mp_product_map"
			action="izi_marketplace.action_window_mp_map_product" sequence="1" />

		<!-- Marketplace / Data Mapping / Product Mapping / Product Mapping Line -->
		<menuitem id="izi_marketplace.menu_item_mp_product_map_line"
			name="Product Mapping Lines"
			parent="izi_marketplace.menu_separator_mp_product_map"
			action="izi_marketplace.action_window_mp_map_product_line_readonly"
			sequence="2" />

		<!-- Marketplace / Marketplace Data -->
		<menuitem id="izi_marketplace.menu_separator_mp_data"
			name="Marketplace Data"
			parent="izi_marketplace.menu_root_marketplace" sequence="20" />

		<!-- Marketplace / Configuration -->
		<menuitem
			id="izi_marketplace.menu_separator_mp_account_config"
			name="Configuration" groups="izi_marketplace.group_mp_manager"
			parent="izi_marketplace.menu_root_marketplace" sequence="100" />

		<!-- Marketplace / Configuration / Access Token -->
		<menuitem id="izi_marketplace.menu_item_mp_token"
			name="Access Token"
			parent="izi_marketplace.menu_separator_mp_account_config"
			action="izi_marketplace.action_window_mp_token" sequence="10" />

		<!-- Marketplace / Configuration / Order Component -->
		<menuitem id="izi_marketplace.order_component_config"
			name="Order Component"
			parent="izi_marketplace.menu_separator_mp_account_config"
			action="izi_marketplace.action_window_order_component_config"
			sequence="10" />

	</data>
</odoo>