.category-pills-container {
overflow: auto;
white-space: nowrap;
scroll-snap-type: x mandatory;
text-wrap: nowrap;
overflow-x:scroll;
.category-pill {
    scroll-snap-align: start;
    padding: 0.4rem 1.2rem;
    font-weight: 500;
    color: $body-color;
    transition: 0.2s;
    background-color: #E6E3DE !important;
    font-size: 14px;

    &.active, &:active, &:hover{
         background-color: $body-color !important;
         color:#E6E3DE !important;
    }
    }
}
.product_card_description{
    margin-top:4px;
}
.product-card-container::before{
    display: none !important;
}
.add_to_cart_inner, .custom_cart_summary{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index:5;

}
.o_website_rating_static_custom{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    small{
        color: #282828;
        font-family: "Inter",sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
    }
}

.o_message_body_custom{
      gap: 15px;
      font-size: 16px;
      .o_portal_chatter_puslished_date{
            font-size: 14px !important;
      }

}
.tp-offcanvas-sidebar .custom-btn-close{
    font-size:12px !important;
}
.oxf_css_quantity{
    border-radius:4px;
    border: 1px solid #D4D4D4;
    background-color:white;
    color: #282828 !important;
    width:60px;
    height:24px;
    .fa{
    color: #282828 !important;
    font-size: 14px;
    font-weight: normal !important;
    }
}
.oxf_css_quantity .btn{
    width:fit-content;
    color:#282828;
    font-size:14px;
    border:none;
    background:none !important;

}
.custom-header{
    li.nav-item {
        margin-right: 0.5rem !important;
    }
    .o_mega_menu_toggle{
        border-radius: 4px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color: #475656 !important;
        color: white !important;
        padding:10px 24px;

        &::after{
            display: none;
        }
    }
}
#category_header p{
    color: #535353 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    margin-bottom: 0 !important;
}
@include media-breakpoint-down(lg) {
    .add_to_cart_inner, .custom_cart_summary{
      position: fixed;
      left: 0;
      bottom: 55px;
      z-index:5;

    }
    .o_message_body_custom{
      gap: 15px;
      font-size: 14px !important;
      .o_portal_chatter_puslished_date{
            font-size: 12px !important;
      }

    }
    .o_wsale_product_mobile_images .o_carousel_product_left_indicators {
        flex-direction: column-reverse;
    }

    .carousel-indicators {
        justify-content: start !important;

        li {
            width: 56px !important;
            height: 56px !important;
            min-width: 56px !important;
            border-radius: 4px !important;
            border: none !important;
            margin-right: 4px;


            &.active {
                border-color: map-get($theme-colors, 'primary') !important;
                background: none !important; ;
            }
            > div {
                display: block !important;
                img{
                    height:56px !important;
                    width:56px !important;
                    display: block !important;
                    border-radius: 4px !important;
                }
            }
        }

    }

    }
